code {
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1.5px solid #BCBEC0;
    padding-left: 2px;
    padding-right: 2px;
}

pre code {
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border: 0px;
}
