div.Exercise:before {
    content:"Exercise";
    font-weight:bold;
}

div.Solution:before {
    content:"Solution";
    font-weight:bold;
}

@media only screen {
  div.Solution {
    filter: blur(.3em);
  }
  div.Solution.revealed {
    filter: none;
    transition: filter 1s;
  }
}
@media only print {
  /* does not work

  div.Solution {
    filter: scale(-1,-1);
  }
  div.Solution.revealed {
    filter: none;
    transition: filter 1s;
  }
  */
}
